/* Add your custom CSS styles here. It will be automatically included in every page. */
.innerpage{margin:0!important}p{margin: 0 !important; padding: 0 !important;}.row{padding: 0 !important; margin: 0 !important;}.column{padding: 0 !important; margin: 0 !important;}body{font-size:14px !important;}
.no-image { background-color: #f2f2f2;border: solid 1px #ccc;border-radius: 5px;box-shadow: 1px 1px; }
.address-book-link { margin-left: 10px; }
#payForm .btn.payment-btn { margin: 0 20px;font-family: 'Roboto Condensed',sans-serif !important;text-transform: uppercase;font-weight: bold;line-height: 26px;display: inline-block;height: 37px;}
.js-hide-div{visibility: hidden;}
#address_book .radio label{ min-width: 100px;font-size: 13px; }
.search-mail-block .search-col input[type="submit"] { cursor: default; }
.shopping-cart-itemlist img {max-width: 115px;text-align: center;margin: 0 auto;}
.size-quantity-table tr th:after, .size-quantity-table tr td:after {display: none;}
.imprint-lbl-method {width: 87%;overflow: hidden;display: inline-block;text-overflow: ellipsis;}
.size-quantity-table thead tr th{border-right: 1px solid #e3e3e3;}
#shopping_cart .js-replace-products td {vertical-align: middle;}
.nomargin.js-checkout-product-name {margin-top: 12px;}
.pl-zero {padding-left:0px !important;}
.pr-zero {padding-right:0px !important;}
.header-color{color: #7f7f7f;}
#address_book .address-checkbox label.font-style-normal{ padding-left: 5px;min-width: 85px;color: #333; }
.no-padding {padding: 0px;}
.radio.js-isoffice {padding-left: 7px;}
.js_summary_imprint_location {padding: 15px 0;}
.innerpage.row{min-height: 670px !important;display: inline-block;}
.wishlist-view-tab.view-product {float: right;padding-bottom: 10px;}
.header-search-col #main_filter { width: 124px; border: solid 0px #ccc; line-height: 24px; display: inline; background-color: #e4e4e4; float: left; height: 39px; }
.header-search-col #main_filter + input[type="text"] { width: 206px; display: inline; float: left; line-height: 24px; font-size: 16px; }
.header-search-col .btn-search { display: inline; float: left; }
.row.header-search-col { width:500px;}

/* advance search */

.col-lg-12.col-md-12.col-sm-12.col-xs-12.advance-search-col{clear: both;position: absolute !important;z-index: 999;top: 20px;background: #DDD;}
a.btn.btn-primary.adv-search-btn {position: absolute;right: 25%;top: 26px;background-color: #0e406d;height: 37px;}
div#collapseExample {height: auto !important;}
button.multiselect.dropdown-toggle.btn.btn-default {width: 243px;height: 40px;width: 100%;color: #7f7f7f;font-family: 'Roboto Condensed', sans-serif;font-weight: 400;font-size: 15px;height: 40px;padding: 6px 10px;border: 1px solid #e6e6e6;-webkit-box-shadow: inset 0 6px 32px -11px rgba(230,230,230,1);-moz-box-shadow: inset 0 6px 32px -11px rgba(230,230,230,1);box-shadow: inset 0 6px 32px -11px rgba(230,230,230,1);margin-bottom: 0;text-align: left; background: #FFF;}
button.multiselect.dropdown-toggle.btn.btn-default b.caret {float: right;margin-top: 7px;}
.catelogue .pro-desc .flyer_button ul li{margin-bottom: 8px;}
.ob-product-grid .pro-box .video_sku_block { min-height: 55px;width: 100px;text-align: center;display: block;margin: 19px auto 0;background: no-repeat;}
/* .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover */
.js-shippingMethod-section{padding: 15px 2px !important}
.product-section-box .quantity-table .print_product_col{ background-color: white;color: black;border: 1px solid #ccc}
.print-product-detail .quantity-table-title .table-content, .print-product-detail .quantity-table .table-content,.print-product-detail .quantity-table-title .table-content, .print-product-detail .quantity-table .table-heading{width:50% !important}
@media (min-width: 768px){
#myModal .modal-dialog {
    width: 615px;
    margin: 30px auto;
}
}
@media print {
.product-section-box .quantity-table .table-heading,.product-section-box .quantity-table .table-content{ background-color: white;color: black;border: 1px solid #ccc}
}